/* S: header */
header{position: fixed;top: 0;left: 0;display: flex;align-items: center;width: 100%;min-height: 4vw;z-index: 50;background: rgba(000, 000, 000, 0.2);backdrop-filter: blur(4px);-webkit-backdrop-filter: blur(4px);}
header .menu_wrap{width: 100%;z-index: 50;}
header .menu_wrap #header{width: 100%;padding: 0 5vw;margin: 0 auto;}
header .menu_wrap #header .header_wrap{display: flex;justify-content: space-between;align-items: center;}
header .menu_wrap #header .header_wrap .logo{color: #ffffff;font-family: "PyeongChangPeace-Bold", sans-serif;}
header .menu_wrap #header .header_wrap .logo .logo_img{width: auto;height: auto;font-family: "PyeongChangPeace-Bold", sans-serif;}
header .menu_wrap #header .header_wrap .logo .logo_img a{display: block; width: auto;height: auto;}
header .menu_wrap #header .header_wrap .logo .logo_b{display: none;}
header .menu_wrap #brochure{position: absolute; top: 0;right: 5vw;display: flex;justify-content: space-between;align-items: center;min-height: 4vw;}
header .menu_wrap #brochure .brochure{width: auto;height: 1.19vw;margin-right: 1.40vw; overflow: hidden;}
header .menu_wrap #brochure .brochure .dw_btn{display: block;color:#FFFFFF;font-size: 0.93vw;font-weight: 400;transform:translateY(0);transition:.8s all;}
header .menu_wrap #brochure .brochure .dw_btn.on{display: block;color:#ff2584;font-size: 0.93vw;font-weight: 400;}
header .menu_wrap #brochure .brochure .border_w{display: block; width: auto;height: 0.05vw;background: #FFFFFF;transform:translateX(0);transition:.5s all;}
header .menu_wrap #brochure .brochure .border_g{display: block; width: auto;height: 0.05vw;background: #ff2584;transform:translateX(-101%);transition:.5s all;}
header .menu_wrap #brochure .brochure:hover .dw_btn{transform:translateY(-100%);transition:.8s all;}
header .menu_wrap #brochure .brochure:hover .border_w{transform:translateX(100%);transition:.8s all;background: #ff2584;}
header .menu_wrap #brochure .brochure:hover .border_g{transform:translateX(0);transition:.8s all;background: #ff2584;}
header .menu_wrap #brochure .menu_btn_box{z-index: 99;}
header .menu_wrap #brochure .menu_btn_box .menu_btn{display: block;width: 1.67vw;height: 1.14vw;}
header .menu_wrap #brochure .menu_btn_box .menu_btn .bar{display: block; width: 1.67vw;height: 0.10vw;background: #FFFFFF;transition: all .3s;}
header .menu_wrap #brochure .menu_btn_box .menu_btn .bar_2{margin: 0.36vw 0;}
header .menu_wrap #brochure .menu_btn_box .menu_btn.on {display: block; width: 1.67vw;height: 1.14vw;}
header .menu_wrap #brochure .menu_btn_box .menu_btn.on .bar{position: relative;}
header .menu_wrap #brochure .menu_btn_box .menu_btn.on .bar_1{display: block; width: 1.67vw;height: 0.10vw;background: #FFFFFF;top: 0.62vw; transform: rotate(45deg);transition: all .3s;}
header .menu_wrap #brochure .menu_btn_box .menu_btn.on .bar_2{display: block;width: 0;transition: all .3s;}
header .menu_wrap #brochure .menu_btn_box .menu_btn.on .bar_3{display: block; width: 1.67vw;height: 0.10vw;background: #FFFFFF;top: -0.31vw; transform: rotate(-45deg);transition: all .3s;}
header .menu_wrap #brochure .menu_btn_box .menu_btn .bar.white{background: #FFFFFF;}
header .menu_wrap #gnb{position: absolute; top: 0;right: 0; background: #000000;width:0; height: 100vh;overflow: hidden; transform:translateX(100%);transition: all 1s;}
header .menu_wrap #gnb.active{position: absolute; top: 0;right: 0; background: #000000;width: 45%; height: 100vh;transform:translateX(0);transition: all 1s;}
header .menu_wrap #gnb .gnb_wrap{display: flex;width: 100%;height: 100%; padding-left: 6.77vw; flex-direction: row;flex-wrap: nowrap;align-content: space-around;justify-content: flex-start;align-items: center;}
header .menu_wrap #gnb .menu_list .nav{padding: 1vw 0;transition: all 0.2s;}
header .menu_wrap #gnb .menu_list .nav a{ font-size: 4.94vw;color: #FFFFFF;}
header .menu_wrap #gnb .menu_list .nav a:hover{color: #ff2584;transition: all 0.2s;}
header .menu_wrap #gnb .dw_box{position: absolute;bottom: 2.96vw;}
header .menu_wrap #gnb .dw_box a{display: flex;justify-content: space-between;align-items: center; width: 100%;height: 100%;  font-size: 0.93vw;color: #FFFFFF;font-weight: 500;}
header .menu_wrap #gnb .dw_box a:hover{color: #ff2584;}
header .menu_wrap #gnb .dw_box a span{display: inline-block;width: 100%;height: 100%;padding-right: 0.78vw;}
header .menu_wrap #gnb .dw_box a img.wh{display: inline-block;width: 1.14vw;height: 1.14vw;}
header .menu_wrap #gnb .dw_box a img.gr{display: none;width: 1.14vw;height: 1.14vw;}
header .menu_wrap #gnb .dw_box a:hover img.wh{display: none;width: 1.14vw;height: 1.14vw;}
header .menu_wrap #gnb .dw_box a:hover img.gr{display: inline-block;width: 1.14vw;height: 1.14vw;}
/* E: header */

/* S: footer */
footer .cont_wrap .cont_box .top_btn_box{max-width: 83.33vw; margin-left: auto;padding-bottom: 2.34vw;}
footer .cont_wrap .cont_box .top_btn_box .top_btn{display: block;width: 3.80vw;height: 3.80vw;background: #333333;margin-left: auto;}
footer .cont_wrap .cont_box .top_btn_box .top_btn img{width: 0.833vw;height: 1.09vw;margin: 0 auto;}
footer .cont_wrap .cont_box .cont_info_box{display: flex;justify-content: space-between;max-width: 67.71vw;margin: 0 auto 4vw;}
footer .cont_wrap .cont_box .cont_info_box .sub_btn_box ul{display: flex;align-items: center;gap: 3vw;}
footer .cont_wrap .cont_box .cont_info_box .sub_btn_box ul .m_btn{letter-spacing:0.05vw;}
footer .cont_wrap .cont_box .cont_info_box .sub_btn_box ul .m_btn a{font-size: 2.23vw;color: #000000;letter-spacing:0.05vw;}
footer .cont_wrap .cont_box .cont_info_box .sub_btn_box ul .m_btn:last-child{padding-bottom: 0;}
footer .cont_wrap .cont_box .cont_info_box .foot_info{display: flex;align-items: center;gap: 5vw;}
footer .cont_wrap .cont_box .cont_info_box .foot_info .info_box p{font-size: 0.83vw;font-weight: 300;color: #000000;}
footer .cont_wrap .cont_box .cont_info_box .foot_info .info_box .tp_title{font-size: 0.93vw;font-weight: 500;color: #000000;padding-bottom: 0.41vw;}
footer .cont_wrap .cont_box .cont_info_box .foot_info .info_dw{width: 14.73vw;height: 3.75vw;margin-top: 0.20vw; border:0.05vw solid #828282;border-radius: 0.26vw;transition: .3s all;}
footer .cont_wrap .cont_box .cont_info_box .foot_info .info_dw:hover{border:0.05vw solid #ff2584 ; transition: .3s all;border-radius: 0.26vw;}
footer .cont_wrap .cont_box .cont_info_box .foot_info .info_dw:hover .dw_btn{background: #ff2584;border-radius: 0.26vw;transition: .3s  all;}
footer .cont_wrap .cont_box .cont_info_box .foot_info .info_dw .dw_btn{display: flex;justify-content: space-evenly;align-items: center;width: 100%;height: 100%;}
footer .cont_wrap .cont_box .cont_info_box .foot_info .info_dw .dw_btn .dw_text{font-size: 0.93vw;font-weight: 500;color: #000000;z-index: 1;}
footer .cont_wrap .cont_box .cont_info_box .foot_info .info_dw .dw_btn .dw_icon{display: block;width: 1.14vw;height: 1.14vw;z-index: 1;}
footer .cont_wrap .cont_box .copy_box{max-width: 67.71vw; padding: 1.40vw 0 2.60vw 0.52vw;margin: 0 auto; border-top:0.05vw solid #D1D1D1;}
footer .cont_wrap .cont_box .copy_box .copy_text{font-size: 0.72vw;font-weight: 400;text-align: center;}
footer .cont_wrap .cont_box .copy_box .company{padding-bottom: 0.41vw;}
/* E: footer */

/* S: content 공통 */
/* 큰 레이아웃 */
#wrapper, .wrap{width:100vw;color:#242424;}
#wrapper .container{position: relative;}
#wrapper .container .section{position:relative;}
#wrapper .cont_wrap .cont_box{width: 100%;max-width: 83.33vw; margin: 0 auto;}
#wrapper .cont_wrap .cont_box .more_box{width: 9.64vw;height: 2.60vw;margin:5.81vw auto 0;}
#wrapper .cont_wrap .cont_box .more_box .more_list{width: 9.64vw;height: 2.60vw;text-align: center;border: 0.08vw solid #222222;font-size: 0.83vw;font-weight: 400;color: #000000;}
#wrapper .cont_wrap .cont_box .more_box .more_list:hover{border: 0.05vw solid #FFFFFF;}
/* E: content 공통 */

/* S: main*/
.dim{opacity: 1; position: absolute; top: 0;left: 0;width: 100%;height: 100vh;overflow: hidden;z-index: -1;}
.dim .dim_bg{opacity: 1; position: absolute; top: 100%;left: 0;width: 100%;height: 100vh;background: rgba(0,0,0,1);overflow: hidden;z-index: -1;}
.typed-cursor{opacity: 1;font-weight: 100;-webkit-animation: blink 0.7s infinite;-moz-animation: blink 0.7s infinite;animation: blink 0.7s infinite;}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
#wrap.main #sec01{}
#wrap.main #sec01 .cont_wrap .dim{position:absolute;top:0;left:0;width:100%;height:100vh;overflow:hidden;margin:0 auto;z-index:2;background:rgba(0,0,0,0.7);}
#wrap.main #sec01 .cont_wrap .cont_box{position: relative; max-width:100vw;height: 100vh;}
#wrap.main #sec01 .cont_wrap .cont_box .bg_video{position:absolute;width:100%;height:100vh;overflow:hidden;margin:0 auto;z-index:1;background:#000000;}
#wrap.main #sec01 .cont_wrap .cont_box .videoBox{position:absolute;top:50%;left:50%;width:100vw;height:100vh;padding:0;overflow:hidden;transform:translate(-50%, -50%);}
#sec01 .cont_wrap .cont_box .videoBox video{position:absolute;left:50%;top:50%;width:100vw;transform:translate(-50% , -50%);}
@media screen and (max-aspect-ratio: 1280/720) {
  #wrap.main #sec01 .cont_wrap .cont_box .videoBox video{width: auto;height: 100vh;}
}
#wrap.main #sec01 .cont_wrap .cont_box .titleBox{position: relative;width: 63.65vw; color: #FFFFFF;font-family: "PyeongChangPeace-Bold", sans-serif;font-size: 5.65vw;line-height: 6.65vw;margin-left: 8.59vw;padding-top: 12.7vw;z-index: 3;}
#wrap.main #sec01 .cont_wrap .cont_box .titleBox .fix_title{font-weight: 700;padding-bottom: 2.70vw;letter-spacing: 0;font-family: "PyeongChangPeace-Bold", sans-serif;}
#wrap.main #sec01 .cont_wrap .cont_box .titleBox .tiping_title{width: 100%;margin-top: 6vw;font-weight: 500;font-family: "PyeongChangPeace-Bold", sans-serif;}
#wrap.main #sec01 .cont_wrap .cont_box .titleBox .tiping_title::after{display: block;content: '';clear: both;visibility: hidden;height: 0;}
#wrap.main #sec01 .cont_wrap .cont_box .titleBox .tiping_title .door{display: inline-block;}
#wrap.main #sec01 .cont_wrap .cont_box .titleBox .tiping_title .d_l{float: left;margin-right: 2vw;}
#wrap.main #sec01 .cont_wrap .cont_box .titleBox .tiping_title .d_r{float: right;}
#wrap.main #sec01 .cont_wrap .cont_box .titleBox .tiping_title p{display: inline-block;width: 80%;}
#wrap.main #sec01 .cont_wrap .cont_box .titleBox .tiping_title .typing{letter-spacing: 0.15vw;}
#wrap.main #sec01 .cont_wrap .cont_box .row_arrow{position:absolute;width: 3.64vw;height: 1.87vw;bottom: 5%;left: 50%;transform: translate(-1.80vw, -0.58vw);z-index: 1;}
#wrap.main #sec02{display: flex;flex-direction: column;flex-wrap: nowrap;align-content: center;justify-content: center;align-items: center;min-height: 56.25vw;height:100vh;background-color: #ffffff;}
#wrap.main #sec02 .hover_img{position: absolute;top:50%;right:0; width: 15.52vw;height: 15.52vw;transform:translate(-50%,-50%);}
#wrap.main #sec02 .cont_wrap .cont_box .sec_text_box{padding-bottom: 4.42vw;}
#wrap.main #sec02 .cont_wrap .cont_box .sec_text_box .sec_text{font-size: 1.04vw;font-weight: 300; text-align: center;}
#wrap.main #sec02 .cont_wrap .cont_box .big_text_box{display: flex;flex-direction: column;flex-wrap: nowrap;align-items: center;}
#wrap.main #sec02 .cont_wrap .cont_box .big_text_box .big_text{position: relative;height:5.33vw;overflow:hidden;text-align: center;margin: 1vw 0;}
#wrap.main #sec02 .cont_wrap .cont_box .big_text_box .big_text .hover_text{font-size:3.45vw;line-height:5.33vw;}
#wrap.main #sec02 .cont_wrap .cont_box .big_text_box .big_text .hover_text.federo{font-family: 'Federo'; font-size:3.45vw;font-weight: 400;}
#wrap.main #sec02 .cont_wrap .cont_box .big_text_box .big_text .cover_w{position:absolute;left:0;bottom:0;width:100%;height:5.20vw;background:#ffffff;}
#wrap.main #sec02 .cont_wrap .cont_box .big_text_box .big_text p{transform:translateY(0);transition:1s all;}
#wrap.main #sec02 .cont_wrap .cont_box .big_text_box .big_text:hover p{transform:translateY(-100%);transition:1s all;}
#wrap.main #sec03{padding-top: 10vh;background-color:#000000;}
#wrap.main #sec03 .cont_wrap .cont_box{display: flex;flex-direction: column;justify-content: center;width: 50%;height: auto;padding: 7.44vw 0;}
#wrap.main #sec03 .cont_wrap .cont_box .work_box{position: relative;color: #ffffff;z-index: 5;}
#wrap.main #sec03 .cont_wrap .cont_box .work_box .work_vs .img_box{position: absolute;top: 0;right: 0;width: 4vw;}
#wrap.main #sec03 .cont_wrap .cont_box .work_box .work_vs .vs_box{position: relative;width: 100%;height: 30vw;margin: 1vw 0;background: #000000;overflow: hidden;}
#wrap.main #sec03 .cont_wrap .cont_box .work_box .work_vs .sub_text{font-size: 1.4vw;line-height: 2.1vw;font-weight: 300; color: #ffffff;text-align: right;}
#wrap.main #sec03 .cont_wrap .cont_box .work_box .work_vs .sub_text sup {font-size: 0.6vw;}
#wrap.main #sec03 .dim{opacity: 1; position: absolute; top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,1);overflow: hidden;z-index: -1;}
/* E: main */





/* S: about */
#wrap.about #sec01{height:100vh;overflow: hidden;}
#wrap.about #sec01 .bg_box{width:100%;max-width:83.33vw;}
#wrap.about #sec01 .bg_box .bg_img{position:absolute;top:0;left:0;width:100%;height:100%;background:url('../images/bg_about.jpeg') no-repeat bottom 10% center / cover;}
#wrap.about #sec01 .bg_box .bg_dim{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.3);backdrop-filter: blur(2px);-webkit-backdrop-filter: blur(2px);}
#wrap.about #sec01 .cont_box{position:absolute;top:11.20vw;left:50%;max-width:83.33vw;width:100%;transform:translateX(-50%);}
#wrap.about #sec01 .cont_box .cont_title{max-width:83.33vw;width:100%;margin:0 auto;}
#wrap.about #sec01 .cont_box .cont_title .big_tit{margin-bottom: 10vw;font-size:5.73vw;font-weight:bold;letter-spacing:-0.10vw;color: #ffffff;filter: drop-shadow(1px 1px 1px #000000);}
#wrap.about #sec01 .cont_box .cont_title .small_tit{font-size:1.56vw;line-height:2.64vw;color: #ffffff;filter: drop-shadow(1px 1px 1px #000000);}
#wrap.about #sec01 .cont_box .cont_text{max-width:83.33vw;width:100%;margin:0 auto;}
#wrap.about #sec01 .cont_box .cont_text .texts{margin-top:18.75vw;}
#wrap.about #sec01 .cont_box .cont_text .texts .big_text{font-size:1.46vw;line-height:2.19vw;padding-bottom: 1.04vw;}
#wrap.about #sec01 .cont_box .cont_text .texts .small_text{font-size:1.56vw;font-weight:300;line-height:2.19vw;}
#wrap.about #sec01 .cont_box .cont_text .text_2{display: flex;flex-direction: row;justify-content: flex-end;margin-top:25.00vw;}
#wrap.about #sec02{padding: 10vw 0;}
#wrap.about #sec02 .cont_wrap{width:100%;max-width:67.71vw;margin: 0 auto;}
#wrap.about #sec02 .cont_wrap .cont_box{max-width:67.71vw;width:100%;margin:0 auto;}
#wrap.about #sec02 .cont_wrap .cont_box.cont_text{margin-bottom: 10vw;}
#wrap.about #sec02 .cont_wrap .cont_box p.sec_tit{font-size:3.39vw;font-weight:bold;letter-spacing:-0.06vw;padding-bottom: 2.40vw;}
#wrap.about #sec02 .cont_wrap .cont_box p.text{line-height: 2vw;font-size: 1.3vw;margin-bottom: 2vw;}
#wrap.about #sec02 .cont_wrap .cont_box .sec_cont .awards{display:flex;flex-direction: column; flex-wrap: nowrap;align-items: flex-start;}
#wrap.about #sec02 .cont_wrap .cont_box .sec_cont .awards .aw_list{display: flex;flex-direction: row;align-items: center;width:100%; border-bottom: 1px solid #E3E3E3; justify-content: space-between; padding: 0 2.86vw; height: 7.29vw;}
#wrap.about #sec02 .cont_wrap .cont_box .sec_cont .awards .aw_list .aw_tit {font-size: 1.3vw;  width: 21.77vw;}
#wrap.about #sec02 .cont_wrap .cont_box .sec_cont .awards .aw_list .aw_img{width:5.21vw;}
#wrap.about #sec02 .cont_wrap .cont_box .sec_cont .awards .aw_list .aw_text{line-height:1.35vw; width: 35vw;}
#wrap.about #sec02 .cont_wrap .cont_box .sec_cont .awards .aw_list .aw_text span{display:block;font-size:0.94vw;}
#wrap.about #sec02 .cont_wrap .cont_box .sec_cont .awards .aw_list .aw_text .aw_text_txt{font-weight:400;}
/* E: about */

/* S: works */
#wrap.works{}
#wrap.works #sec01{height: auto;padding-top: 9.53vw;margin-bottom: 7.29vw;}
#wrap.works #sec01 .cont_wrap .cont_box{max-width: 71.09vw;}
#wrap.works #sec01 .cont_wrap .cont_box .title_box{padding-bottom: 1.88vw;}
#wrap.works #sec01 .cont_wrap .cont_box .title_box .title{font-size: 4.69vw;font-weight: 700;}
#wrap.works #sec01 .cont_wrap .cont_box .btn_list {display:flex;flex-direction: row;justify-content: flex-start;align-items: center;padding:0 0 1.14vw 0.52vw;}
#wrap.works #sec01 .cont_wrap .cont_box .btn_list .btn{padding-right: 2.60vw; font-family:'Poppins', sans-serif;font-size:1.04vw;color:rgba(0,0,0,0.3);}
#wrap.works #sec01 .cont_wrap .cont_box .btn_list .btn.btn_5{padding-right: 0; font-family:'Poppins', sans-serif;font-size:1.04vw;color:rgba(0,0,0,0.3);}
#wrap.works #sec01 .cont_wrap .cont_box .btn_list .btn.on{font-family:'Poppins', sans-serif;font-size:1.04vw;color:rgba(0,0,0,1);}
#wrap.works #sec01 .cont_wrap .cont_box .pro_box{display: flex; flex-wrap: wrap;}
#wrap.works #sec01 .cont_wrap .cont_box .pro_box::after{display:block;content:'';clear:both;height:0;visibility:hidden;}
#wrap.works #sec01 .cont_wrap .cont_box .pro_box .no-data{width: 100%;display: flex;align-items: center;justify-content: center;width: 100%;height: 15.63vw;margin-top:4.43vw;}
#wrap.works #sec01 .cont_wrap .cont_box .pro_box .no-data p{font-family:'Pretendard', sans-serif;font-size: 1.04vw;}
#wrap.works #sec01 .cont_wrap .cont_box .pro_box .cont{float:left;width:49%;margin-top:4.43vw;}
#wrap.works #sec01 .cont_wrap .cont_box .pro_box .cont:nth-child(1),#Works #wrapper #sec01 .cont_wrap .cont_box .pro_box .cont:nth-child(2){margin-top:0;}
#wrap.works #sec01 .cont_wrap .cont_box .pro_box .cont:nth-child(2n){margin-left:2%;}
#wrap.works #sec01 .cont_wrap .cont_box .pro_box .cont .img_box{width: 100%;}
#wrap.works #sec01 .cont_wrap .cont_box .pro_box .cont .img_box img{width: 100%;}
#wrap.works #sec01 .cont_wrap .cont_box .pro_box .cont .text_box p{font-family:'Pretendard', sans-serif;margin:1.09vw 0 0.42vw;font-size:1.30vw;letter-spacing:0;}
#wrap.works #sec01 .cont_wrap .cont_box .pro_box .cont .text_box p.pd_text{height:1.89vw;margin:0;font-size:0.89vw;font-weight:300;letter-spacing:0;}
/* E: works */